<!-- we can put images of near by areas to eat, like the seaport or parks near by. -->
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1 class="aboutTitle">OUR STORY</h1>

	<div class="foodTruckImages">
		<img class="foodTruck" src="/img/foodtruck.png">
		<img class="foodShop" src="/img/foodshop.png">
	</div>

	<div class="HoursAndLocation">
		<div><a class="Location1" href="https://www.google.com/maps/place/Pearl+St+%26+Hanover+St,+New+York,+NY+10005/@40.7048136,-74.0117704,16z/data=!4m5!3m4!1s0x89c25a167a54432f:0xc8b77ff43b6a6bce!8m2!3d40.7048743!4d-74.0088569">
				<h4>Location</h4>
				<p>Pearl St & Hanover St<br>New York, NY 10038</p>
				<!-- <img class="addressIcon" src="/img/addressIcon.png"> -->
				</a>
		</div>
		<div class="HoursOfOperation">
			<h4>Hours Of Operation</h4>
			<p>Monday - Friday<br> 9:00 AM - 3:00 PM</p>
		</div>
	</div>
	
	<div class="wrapper1">
		<div>
			<h1 class="battle">BATTLE OF THE BANH MI</h1>
		</div>		
		<div id="firstP_about">
			<img class="waterBuffalo" src="/img/waterBuffalo.png">
			<div class="firstP_about">
				<h3 class="hello1_about">SAY HELLO TO ÔNG CHỦ. HE ACCEPTS NOTHING BUT THE BEST.</h3>
				<p>Ông chủ (The Boss) is our đầu bếp (head chef) and the guiding voice of everything we do here at Banh Mi.</p>
				<p>He inspects every meat we cook and examines each cucumber we chop. He eats jalepeneos for breakfast and disrespects sandwitches that aren’t made from scratch. Ông chủ is one tough customer.</p>
			</div>
		</div>

		<div id="secondP_about">
			<h3 class="hello2_about">THE BEST BANH MI VIETNAMESE SANDWACHES</h3>
			<p>Vietnamese baguette sandwiches, called Banh Mi, have attracted a loyal fan base like never before. Like a musical band with rock star status, these sandwiches have an almost cult-like following of epicurean devotees. The uniqueness of these sandwiches not only lies within the french influenced baguette, but it’s also the flavor packed, savory Viet fillings that what makes the marriage of the two main ingredients a true love affair.</p>
		</div>

		<div id="thirdP_about">
			<div class="thirdP_about">
				<h3 class="hello3_about">ALL NATURAL ALL THE TIME</h3>
				<p>Ông chủ runs a “scratch kitchen,” where, you guessed it, everything is made from scratch. Banh Mi’s menu is a modern take on the time-honored home cooking that Ông chủ grew up with. That means fresh produce, rich spices, jalepeneos bold enough to stand on their own, and layers of flavor that will make your head spin, your mouth water, and your taste buds beg for more. Our banh mi's are complex, flavorful, and unafraid to make a statement. Ông chủ wouldn’t have it any other way.</p>
			</div>
			<img class="scratch" src="/img/scratch.png">
		</div>
		<img class="layersImg" src="/img/LayersOfTaste.jpg">
	</div>
</body>
</html>



