<!-- we can put images of near by areas to eat, like the seaport or parks near by. -->
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1>BATTLE OF THE BANH MI</h1>
	<img src="/img/foodtruck.png">
	<img src="/img/foodshop.png">
	<h3 id="">SAY HELLO TO ÔNG CHỦ. HE ACCEPTS NOTHING BUT THE BEST.</h3>
	<img src="/img/waterBuffalo.png">
	<p>Ông chủ (The Boss) is our đầu bếp (head chef) and the guiding voice of everything we do here at Banh Mi.</p>
	<p>He inspects every meat we cook and examines each cucumber we chop. He eats jalepeneos for breakfast and disrespects sandwitches that aren’t made from scratch. Ông chủ is one tough customer.</p>

	<p>Vietnamese baguette sandwiches, called Banh Mi, have attracted a loyal fan base like never before. Like a musical band with rock star status, these sandwiches have an almost cult-like following of epicurean devotees. The uniqueness of these sandwiches not only lies within the french influenced baguette, but it’s also the flavor packed, savory Viet fillings that what makes the marriage of the two main ingredients a true love affair.</p>

	<p>Ông chủ runs a “scratch kitchen,” where, you guessed it, everything is made from scratch. Banh Mi’s menu is a modern take on the time-honored home cooking that Ông chủ grew up with. That means fresh produce, rich spices, jalepeneos bold enough to stand on their own, and layers of flavor that will make your head spin, your mouth water, and your taste buds beg for more. Our banh mi's are complex, flavorful, and unafraid to make a statement. Ông chủ wouldn’t have it any other way.</p>
	<img src="/img/LayersOfTaste.jpg">
</body>
</html>



