<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>
	<h1>Get in Touch!</h1>
	<h4>We accept feedback and criticism. If you have any questions or concerns, please feel free to contact us. We want to make your Banh Mi experience, an unforgettable one! Each filled out form gets directly emailed to us. Although we try to answer as quickly as possible, we ask that you give us up to 24 hours to respond to your email.</h4>
	<table>
		<form>
			<tr>
				<td><label>Name</label></td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td><label>Phone Number</label></td>
				<td><input type="text" name="number"></td>
			</tr>
			<tr>
				<td><label>Email</label></td>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<td><label>Message</label></td>
				<td><textarea rows="10" cols="40"></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="Send"></td>
			</tr>
		</form>
	</table>

</body>
</html>

<!-- We can add image icons of IG, facebook, email,  -->