<!-- <ul class="icons">
  <li><a href="/index"><img src="img/fb-p.svg" /></a></li>
  <li><a href="/index"><img src="img/insta-p.svg" /></a></li>
  <li><a href="/index"><img src="img/twitter-p.svg" /></a></li>
</ul> -->

<ul class="icons">
  <li><img src="img/fb-p.svg" /></li>
  <li><img src="img/insta-p.svg" /></li>
  <li><img src="img/twitter-p.svg" /></li>
</ul>
