
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Banh Mi Cart</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>

	<%= yield %>
  <%= erb :nav %>
</body>
</html>
