<div class="menu-container">


  <div class="menu">
    <div class="app">
      <h1><strong>APPETIZERS $4</strong></h1>
    <ul>
      <li><h4>Spring Roll</h4></li>
      <li><h4>Summer Roll</h4></li>
    </ul>
    </div>
    <div class="sandwich">
      <h1><strong>SANDWICH $6</strong></h1>
    <ul>
      <li><h4>Special Baguette</h4></li>
      <li><h4>Grilled Chicken Baguette</h4></li>
      <li><h4>Grilled Pork Baguette</h4></li>
      <li><h4>Vegetarian Baguette</h4></li>
      <li><h4>Two Fish Baguette</h4></li>
      <li><h4>Pao Fried Beef Baguette</h4></li>
      <li><h4>Pork Roll & Eggs Baguette</h4></li>
      <li><h4>Shrimp Baguette</h4></li>
      <li><h4>Roasted Eel Baguette</h4></li>
      <li><h4>Teriyaki Chicken Baguette</h4></li>
    </ul>
    </div>
    <div class="bev">
      <h1><strong>BEVERAGES $4</strong></h1>
     <ul>
      <li><h4>Traditional Vietnamese Coffee</h4></li>
      <li><h4>Iced Coffee</h4></li>
    </ul>
    </div>
  </div>
</div>
