<div class="nav">

  <li id="logo-bmc"><a href="/index">BMC</a></li>
	<li id="pink-home"><a href="/index">HOME</a></li>
	<li class="logo-l"><a href="/about">ABOUT</a></li>
	<li class="logo-l"><a href="/contact">CONTACT</a></li>
	<li class="logo-l"><a href="/menu">MENU</a></li>
</ul>
</div>
